body 
{
    font-size: 150%;
}
ul 
{
    list-style-type: none;
    width: 100%;
    padding: 0px;
}
ul li 
{
    width: 100%;
}
a
{
    display: block;
    padding: 15px;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: #bbb;
    border: solid 3px black;
}
.dir 
{
    background-color: #E1BB7E;
}
